* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: auto;
    height: 80px;
    border-bottom: 1px solid var(--Border-Grey, #EBE8F4);
    background: #FFF;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 26px;
}

.menu_header {
    width: 1196px;
    height: 29px;
    margin: 0 auto;
    display: flex;
}

.item_1_header {
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.nav-header {
    display: inline-flex;
    align-items: flex-start;
    gap: 44px;
    margin-top: 4px;
    margin-bottom: 3px;
    margin-left: 149px;
    margin-right: 261px;
}

.nav-header-item {
    text-decoration: none;
    color: #726E8D;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.side-action {
    width: 80px;
    height: 16px;
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    margin-top: 5px;
}

.action-link {
    text-decoration: none;
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon {
    display: block;
    width: 100%;
    height: 100%;
}

.search {
    background-image: url("/IMG/Search.svg");
}

.cart {
    background-image: url("/IMG/Shopping--cart.svg");
}

.user {
    background-image: url("/IMG/User--avatar.svg");
}


.page_heeaders {
    width: auto;
    height: 223px;
    text-align: center;
    border: 1px solid white;
}

#biggest_title {
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 50.4px */
    margin-top: 80px;
    margin-bottom: 24px;
}

.filters {
    margin: 0 auto;
    width: 1280px;
    height: 64px;
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
}



.sel-first{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
select {
    margin: 12px 24px;
    gap: 12px;
    border: none;
}
.sel-second{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px; 
}
.select-style{
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.section_for_button_View_collection 
{
    width: auto;
    height: 144px;
    
    display: flex;
    justify-content: center; 
    align-items: center;
}

.button_View_collection {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    background: var(--Light-Grey, #F9F9F9);
    border: 0;
}

.text_in_button_View_collection {
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
    box-sizing: border-box;
    gap: 20px;
    padding-top: 28px;
    align-items: start;
    align-content: start;
}

.grid-item-img {
    height: 100%;
}
.grid-item-text {
    margin-top: 24px;
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.grid-item-text-bottom {
    margin-top: 8px;
    color: var(--Dark-Primary, #2A254B);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    }

.grid_bottom_email {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottom_email-img {
    display: block;
    width: 100%;
}
.footer--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.colums_text_footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
}

.img_in_footer {
    object-fit: contain;
    width: 100%;
    background-image: url("/IMG/image-map.svg");
}


.conteiner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
    box-sizing: border-box;
    padding-top: 60px;
}

.Join_the_club {
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 71px;
    margin-bottom: 21px;
    margin-left: 49px;
}

.Sign_up_for_our {
    color: var(--Dark-Primary, #2A254B);
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-bottom: 216px;
    margin-left: 49px;
}

.button_sign_up {
    margin-left: 72px;
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    background-color: #2A254B;
    border: 0;
}

form {
    display: flex;
    width: 600px;
    align-items: flex-start;
}

.text_button_sign_up {
    color: var(--White, #FFF);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

input[type="text"] {
    margin-left: 3px;
    height: 56px; 
    flex-grow: 1; 
    padding: 16px;
    font-size: 20px; 
    border: none; 
}


footer {
    background: var(--Dark-Primary, #2A254B);
}


.ul_in_footer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.a_in_footer {
    color: var(--White, #FFF);
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.dop_li {
    font-size: 16px; 
}


.down_mesengers {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 48px;
    height: 66px;
    width: 1277px;
    border-top: 1px solid #4E4D93;
    padding-top: 22px;

}

.copyright {
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 2px;
}



.side-action-footer {
    width: 270px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.action-link-footer {
    text-decoration: none;
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}



.linkedin {
    background-image: url("/IMG/Logo--linkedin.svg");
}

.facebook {
    background-image: url("/IMG/Logo--facebook.svg");
}

.instagram {
    background-image: url("/IMG/Logo--instagram.svg");
}

.skype {
    background-image: url("/IMG/Logo--skype.svg");
}

.twitter {
    background-image: url("/IMG/Logo--twitter.svg");
}

.pinterest {
    background-image: url("/IMG/Logo--pinterest.svg");
}

